{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/galleryupload.css' %}">
    <title>Edit Gallery Item</title>
</head>
<body>
    <h1>Edit Gallery Item</h1>
     
    <form action="{% url 'edit_g' pk=data.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label for="image">Upload Image:</label>
        <input type="file" name="image" id="image">
        
        <label for="todo">Company:</label>
        <input type="text" name="todo" value="{{ data.title1 }}" class="ww" required><br><br>

        <label for="date">Price:</label>
        <input type="text" name="date" value="{{ data.title2 }}" class="www" required><br><br>

        <label for="course">Delivery Type:</label>
        <input type="text" name="course" value="{{ data.title3 }}" class="ww" required><br><br>

        <button type="submit">Update</button>
    </form>
    
    <a href="{% url 'sellerlogout' %}">Logout</a>
</body>
</html>
