{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}"/>
    <title>Seller Register</title>
</head>
<body>
    
    <form action="" method="post">
        {% csrf_token %}
        <h1>SELLER REGISTER</h1>
        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confpassword" placeholder="Confirm Password" required>
        <input type="submit" value="Submit">
        <div>
            <p>Already have an account? <a href="{% url 'sellerlogin' %}">Login here</a></p>
        </div>
    </form>

    
    
</body>
</html>
