{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/userindex.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="rr">
    <div class="topnav">
        <p>SIGN UP FOR 15% OFF</p>
        <i class="bi bi-person"></i>
    </div>

    <div class="nav">
        <div class="logo">
            <img  src="{% static 'image/crocslogo.svg' %}" alt="crocs">
        </div>
        <div class="left">
            <div>WOMEN</div>
            <div>MEN</div>
            <div>BESTSELLERS</div>
            <div>NEW ARRIVALS</div>
            <div>SALE</div>
            
            <a href="{% url 'logoutuser' %}"><button>Logout</button></a>
        </div>
        <div class="right">
            <div><i class="bi bi-search"></i></div>
            <div><i class="bi bi-heart"></i></div>
            <div><i class="bi bi-cart-fill"></i></div>
        </div>
    </div> 
    <div class="belownav">
        <p>SIGN UP FOR 15% OFF</p>
    </div>
    <div class="background-section" style="background-image: url('{% static 'image/bg2.jpg' %}');">
        <!-- Your content here -->
    </div>
    
    <div class="background-section2" style="background-image: url('{% static 'image/bg3.jpg' %}');">
        <!-- <p>Exclusive Deals on Crocs!</p> -->
    </div><br><br>
<div>
    <div>
        <h1>NEW ARRIVALS</h1>
    </div>
    
    <div class="gallery-grid">
        {% for i in gallery_images %}
        
            <div>
                <img src="{{ i.feedimage.url }}" alt="Gallery Image" width="300">
                <span>{{ i.title1 }}</span>
                <span>{{ i.title2 }}</span>
                <span>{{ i.title3 }}</span>
            </div>
        {% endfor %}
    </div>
</div>   

<div class="footer">
    <div class="footlogo">
        <ul>
            <li><img src="image/logo (1).png" alt=""></li>
            <li><i class="bi bi-facebook"></i></li>
            <li>All rights are reseved by chempakam,cochin,india</li>
        </ul>
        </div>
        <div class="foot1">
            <ul>
                <li><h4>SOLUTIONS</h4></li>
                <li>My account</li>
                <li>Track Your Order</li>
                <li>Order History</li>
                <li>Payment Methods</li>
                <li>Privacy Policy</li>
            </ul>
            </div>
            <div class="foot1">
                <ul>
                    <li><h4>ABOUT US</h4></li>
                    <li>About us </li>
                    <li>Terms & Conditions</li>
                    <li>Privacy Policy</li>
                    <li>Return Policy</li>
                    <li>Site Map</li>
                </ul>
            </div>
            <div class="foot2">
                <ul>
                    <li><h4>CONTACT US</h4></li>
                    <li><i class="bi bi-geo-alt"></i>, Ernakulam, Kerala</li>
                        <li><i class="bi bi-telephone"></i>+91-86065 70657</li>
                        <li><i class="bi bi-clock"></i>Mon - Sat / 9:00AM - 6:00PM</li>
                    </ul>
            </div>
  </div>

</body>
</html>
    <!-- Display images if there are any -->
    